<%- include('partials/header') %>

<section class="hero-section">
    <div class="grid-container">
        <div class="grid-header"><h1>Mánudagur</h1></div>
        <div class="grid-header"><h1>Þriðjudagur</h1></div>
        <div class="grid-header"><h1>Miðvikudagur</h1></div>
        <div class="grid-header"><h1>Fimmtudagur</h1></div>
        <div class="grid-header"><h1>Föstudagur</h1></div>
        <div class="grid-item"><h2>Fiskur</h2></div>
        <div class="grid-item"><h2>Pizza</h2></div>
        <div class="grid-item"><h2>Hamborgari</h2></div>
        <div class="grid-item"><h2>Eitthvað</h2></div>
        <div class="grid-item"><h4>Ég er ekki hugmyndaríkur</h4></div>
    </div>

    
</section>

<%- include('partials/footer') %>