<%- include('partials/header') %>

<section class="section-info">
    <div>
        <img src="/images/gullfoss.webp" alt="gullfoss" class="img-main">
        <p><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam explicabo
           quaerat eligendi neque nisi temporibus, quae ipsam similique velit
           cupiditate earum. Dolorem sit sapiente, nostrum sed libero illum?
           Vitae, qui! Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
           Repellendus reprehenderit ducimus eligendi, tempora excepturi eum ad 
           autem beatae iste mollitia quisquam sequi praesentium velit iusto, nesciunt 
           doloribus ipsum illum optio! Lorem ipsum dolor sit, amet consectetur 
           adipisicing elit. Numquam officia maxime alias voluptatum. Ex reprehenderit 
           dolore at voluptatum vero! Aut, tempore corrupti. Facilis perspiciatis dicta 
           eligendi! Tenetur, explicabo placeat! Tempore. Lorem ipsum dolor sit, amet 
           consectetur adipisicing elit. Itaque, totam laudantium laboriosam dolore eos 
           ducimus voluptatem labore illum hic dignissimos autem omnis amet doloremque 
           quibusdam qui veniam nostrum rerum sequi. Lorem ipsum dolor sit amet consectetur 
           adipisicing elit. Cum eaque numquam inventore omnis totam magni esse veritatis 
           recusandae perferendis. Distinctio repellat asperiores praesentium fugiat 
           iste nam, expedita velit commodi eaque? Lorem ipsum dolor, sit amet consectetur 
           adipisicing elit. Porro provident ducimus aliquid rem vero exercitationem, 
           minima illum eum! Animi deserunt dolorum ipsa voluptatem laboriosam vitae 
           quo facilis nesciunt natus pariatur! Lorem ipsum dolor sit amet consectetur 
           adipisicing elit. Placeat enim cumque ex, ratione voluptates a architecto 
           sit consequatur. Nesciunt debitis quasi enim ipsa officia odit quidem 
           rerum fugit quis animi.</h4></p>
    </div>
</section>

<%- include('partials/footer') %>