<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="title">
            <h1>vfor2 skilverkefni</h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Matseðill</a></li>
                <li><a href="/gullfoss">Gullfoss</a></li>
            </ul>
        </nav>
    </header>

    <main class="content-wrapper">